/* The navbar is fixed at top, full width.
   Sidebar is pushed below the navbar and icons are vertically centered.
   Content sits to the right of the sidebar.
*/

.layout-root { min-height: 100vh; display: flex; flex-direction: column; }

/* top navbar fixed */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0.4;
  height: 64px; /* same height as design (approx) */
    /* purple header */
  color: #320A6B;
  background-color:#320A6B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 800;
  box-shadow: 0 1px 0 rgba(0,0,0,0.06);
}


.layout-body {
  display: flex;
  margin-top: 64px; 
  min-height: calc(100vh - 64px);
}


.sidebar {
  width: 80px;           
  background: #ffffff;
  border-right: 1px solid #eef0f3;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: top; /* center icons vertically */
  align-items: center;
  padding:23px;

}


.layout-content {
  flex: 1;
  background: #f3f4f6;
  padding: 28px 32px;
}

.sidebar .side-icon {
  margin: -3px; 
  cursor: pointer;
  margin-right:12px;
  padding-top: 4px;
}

.side-icon img {
  width: 15px;   
  height: 25px;
  margin: 5px 0; 
  cursor: pointer;
}